@import "tailwindcss";


body{
  font-family: 'General Sans', sans-serif;
  width: 100dvw;
  background-color: var(--background);
 
  overflow-x: hidden;
}

@layer base {
  @font-face {
    font-family: 'circular-web';
    src: url('/fonts/circular-std-book.woff2') format('woff2'),
         
  }

  @font-face {
    font-family: 'general';
    src: url('/fonts/general-book.woff2') format('woff2'),
        
  }

  @font-face {
    font-family: 'robert-medium';
    src: url('/fonts/robert-medium.woff2') format('woff2'),;
  }

    @font-face {
    font-family: 'robert-regular';
    src: url('/fonts/robert-regular.woff2') format('woff2'),
  
}

    @font-face {
    font-family: 'zentry';
    src: url('/fonts/Zentry.woff2') format('woff2'),
  
}


:root {
  --font-zentry: 'zentry', sans-serif;
  --font-circular-web: 'circular-web', sans-serif;
  --font-general: 'general', sans-serif;
  --font-robert-medium: 'robert-medium', sans-serif;
  --font-robert-regular: 'robert-regular', sans-serif;
  --background : #dfdff0;
  --foreground : oklch(13% 0.028 261.692);
  --card: 0 0 100%;
  --primary:oklch(70.7% 0.165 254.624);
  --secondary:oklch(81.1% 0.111 293.571);
  --accent:oklch(79.5% 0.184 86.047);
  --border: 214 32% 91;

}


p {
  font-size: 0.9rem;
}




}

@theme {
  --font-zentry: var(--font-zentry);
  --font-circular-web: var(--font-circular-web);
  --font-general: var(--font-general);
  --font-robert-medium: var(--font-robert-medium);
  --font-robert-regular: var(--font-robert-regular);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent:var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
}
